<div class="container">
<footer class="footer">
  <small>
    <%= link_to t(".the"), "http://www.railstutorial.org/" %>
    <%= link_to t(".by"), "http://www.michaelhartl.com/"%>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".new"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
</div>
